<ion-header>
  <ion-toolbar class="ion-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <a (click)="authservice.logout()">
          <ion-icon name="power" slot="end" style="color: white;"></ion-icon>
        </a>
      </ion-buttons>
    <ion-title>Visit Wise Conveyance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="3" class="ion-padding-top">
        From :
      </ion-col>
      <ion-col size="9" text-center>
        <ion-item>
          <ion-input readonly [(ngModel)]="visitModel.dtFrom" [liIonic4Datepicker]="datePickerObj" (ionChange)="SearchData()">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3" class="ion-padding-top">
        To :
      </ion-col>
      <ion-col size="5" text-center>
        <ion-item>
          <ion-input [(ngModel)]="visitModel.dtTo" readonly [liIonic4Datepicker]="datePickerObj"
            (ionChange)="SearchData()"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col text-center size-md="4" size-lg="4" size-xs="4">
        <ion-select [(ngModel)]="visitModel.type" interface="popover" (ionChange)="SearchData()">
          <ion-select-option value="old">Old</ion-select-option>
          <ion-select-option value="new">New</ion-select-option>
          <ion-select-option value="all">All</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col text-center size-md="12" size-lg="12" size-xs="12">
        <ion-searchbar [(ngModel)]="visitModel.searchTerm" (ionChange)="SearchData()"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="loading" text-center size-md="4" size-lg="4" size-xs="4">
    <ion-spinner name="bubbles"></ion-spinner> <small>loading...</small>
  </div>
  <div *ngIf="customerlist.length===0 && loading==false" text-center size-md="4" size-lg="4" size-xs="4">
    <small>data not found...</small>
  </div>
  <ion-virtual-scroll [items]="customerlist"> 
      <ion-card *virtualItem="let data" (click)="RouteConveyance(data.CheckOut,data.LocationCustId)" color="light" >
        <ion-card-content card style="border-radius: 25px;">
            <ion-label text-wrap>
              <p><small>
                  <ion-icon name="man"></ion-icon> {{ data.custName }}
                </small></p>
              <p><small>
                  <ion-icon name="navigate"></ion-icon> Check In | Out: <strong>{{ data.CheckIn }}</strong> |
                  <strong>{{ data.CheckOut }}</strong>
                </small></p>
              <p><small>
                  <ion-icon name="reorder"></ion-icon> Type : {{ data.CustType }}
                </small></p>
                  <p float-right><small>            
                     {{ data.currencytext}} {{ data.amount }}
                    </small></p>
              <p float-right><small>
                  <ion-icon name="calendar"> </ion-icon> {{ data.dtEntry }} &nbsp; <ion-icon *ngIf="data.CheckOut.length>0" name="arrow-round-forward"></ion-icon>
                </small></p>
            </ion-label>
          </ion-card-content>
      </ion-card>
  </ion-virtual-scroll>

</ion-content>