<ion-header>
  <ion-toolbar class="ion-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content center padding>
      <img src="../../assets/icon/error_under_maintenance.png" height="200">
  </ion-content>

  <!-- <ion-row style="font-size:12px !important;">
    <ion-col size="6">
      <ion-card>
        <ion-card-content center>
          <ion-fab-button color="light" size="small">
            <ion-label style="color: #009688;"><strong>
                <ion-icon name="pin" slot="end" style="font-size: 30px;"></ion-icon>
              </strong></ion-label>
          </ion-fab-button>
          <label>Attendance</label>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <ion-card-content>
          <ion-icon name="power" slot="end" style=" font-size: 30px;"></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <ion-card-content>
          <ion-icon name="cart" slot="end" style="font-size: 30px;"></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <ion-card-content>
          <ion-icon name="finger-print" slot="end" style=" font-size: 30px;"></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row> -->

