<ion-header>
  <ion-toolbar class="ion-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Attendance Entry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <form>
      <ion-row>
        <ion-col text-center size-md="12" size-sm="8" offset-sm="2" offset-md="0">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <h3 text-center>Attendance Location Info </h3>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>

              <div>
                <p>Latitude : {{geoLatitude}}</p>
                <p>Longitude : {{geoLongitude}}</p>
                <p>Accuracy : {{geoAccuracy}}</p>
                <p class="address-text">
                  Address : {{geoAddress }}
                </p>
                <p>Status: {{attendService.CheckStatus}}</p>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar class="ion-toolbar">
    <ion-button fill="clear" expand="full" color="light" *ngIf="attendService.CheckStatus === 'CheckIn'" (click)="getPicture()">
      <ion-icon slot="start" name="camera"></ion-icon>
      {{attendService.CheckStatus}}
    </ion-button>
    <ion-button fill="clear" expand="full" color="light"  *ngIf="attendService.CheckStatus != 'CheckIn'" (click)="SaveCheckInOut()">
        <ion-icon name="log-out" slot="end"></ion-icon>
        {{attendService.CheckStatus}}
      </ion-button>
  </ion-toolbar>
</ion-footer>