<ion-header>
  <ion-toolbar class="ion-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Check In and Check Out </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="tabcheckin">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        <ion-label>Check In</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="tabcheckout">
        <ion-icon name="log-out"></ion-icon>
        <ion-label>Check Out</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
