
.activebackcolor{
    background-color: #009688 !important
}
.notactivebackcolor{
    background-color: whitesmoke !important
}
.notactivetextcolor{
    color: #009688 !important
}
.activetextcolor{
    color:whitesmoke !important
}

