<ion-content style="background-color:  #009688 !important;">

  <ion-header>
    <ion-toolbar class="ion-toolbar">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <a (click)="logout()">
          <ion-icon name="power" slot="end" style="color: white;"></ion-icon>
        </a>
      </ion-buttons>
      <ion-title><small> Check In -Out</small> </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-content">
    <ion-grid fixed>
      <ion-row>
        <ion-col text-center align-self-center size-md="6" size-lg="6" size-xs="6">
          <ion-card (click)="GetRouteForCheckInOut('checkin')"
            [ngClass]="[!IsCheckInReady ? 'notactivebackcolor' : 'activebackcolor']">
            <div style="display: inline-block; text-align: center;" padding>
              <ion-icon name="log-in" size="large"
                [ngClass]="[IsCheckInReady ? 'activetextcolor' : 'notactivetextcolor']"></ion-icon>
              <p [ngClass]="[IsCheckInReady ? 'activetextcolor' : 'notactivetextcolor']">CHECK-IN</p>
            </div>
          </ion-card>
        </ion-col>

        <ion-col text-center align-self-center size-md="6" size-lg="6" size-xs="6">
          <ion-card (click)="GetRouteForCheckInOut('checkout')"
            [ngClass]="[!IsCheckInReady ? 'activebackcolor' : 'notactivebackcolor']">
            <div style="display: inline-block; text-align: center;" padding>
              <ion-icon name="log-out" size="large"
                [ngClass]="[!IsCheckInReady ? 'activetextcolor' : 'notactivetextcolor']"></ion-icon>
              <p [ngClass]="[!IsCheckInReady ? 'activetextcolor' : 'notactivetextcolor']">CHECK-OUT</p>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">

          <ion-list>
            <ion-item>
              <ion-label size="12" class="text-align:center" class="ion-text-center">
                <strong>Today's Visit Summary</strong>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label size="3" float="right" class="ion-text-end">

                 New Customer
              </ion-label>
              <ion-label size="9" float="right" class="ion-text-end">
                <ion-button color="danger" slot="ënd">{{visitday.newcust}}</ion-button>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-label size="3" float="right" class="ion-text-end">
                 Old Customer
              </ion-label>
              <ion-label size="9" float="left" class="ion-text-end">
                <ion-button color="danger" slot="ënd">{{visitday.oldcust}}</ion-button>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-label size="3" float="right" class="ion-text-end">
               <strong>Total</strong>
              </ion-label>
              <ion-label size="9" float="right" class="ion-text-end">
                <ion-button color="danger" slot="ënd">{{visitday.total}}</ion-button>
              </ion-label>
            </ion-item>

          </ion-list>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-content>