
.activebackcolor{
    background-color: #B1386C !important
}
.notactivebackcolor{
    background-color: whitesmoke !important
}
.notactivetextcolor{
    color: #B1386C !important
}
.activetextcolor{
    color:whitesmoke !important
}

