
.activebackcolor{
    background-color: var(--ion-com-primary-color)
}
.notactivebackcolor{
    background-color: var(--ion-com-text-color)
}
.notactivetextcolor{
    color: var(--ion-com-primary-color)
}
.activetextcolor{
    color:var(--ion-com-text-color)
}

