
<ion-header >
    <ion-toolbar class="ion-toolbar">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/home" ></ion-back-button>
        </ion-buttons>
      <ion-title>schedule</ion-title>
    </ion-toolbar>
  </ion-header>
   

<ion-content>
    <ion-row>
        <ion-col size-sm-6>
            <ion-button size="small" (click)="getPicture(1)">Show Camera</ion-button>
          </ion-col>
          <ion-item lines="none">
              <ion-label>Return image file URI</ion-label>
              <!-- <ion-toggle energized [(ngModel)]="useURI"></ion-toggle> -->
            </ion-item>
        
            <ion-card >
              <ion-card-content>
                <img [src]="imageData" *ngIf="imageData"/>
              </ion-card-content>
              <ion-card-header>
                <ion-card-title>
                  <div *ngIf="useURI">
                    Using URI
                  </div>
                  <div *ngIf="!useURI">
                    Using Base64
                  </div>
                  <p *ngIf="useURI">
                    Your URI is {{ imageData }}
                  </p>
                  <p *ngIf="!useURI">
                    Your Base64 image has {{ (imageData + '').length }} bytes
                  </p>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
    </ion-row>
</ion-content>
