<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h3 text-center text-wrap>Last Check Info </h3>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
   
      <ion-grid>
        <ion-row >
            <ion-col text-center size-md="12" size-lg="12" size-xs="12">
                    <div *ngIf="checkInInfo.CustName">
                        <p><strong>Cutomer Name :</strong> {{checkInInfo.CustName}}</p>
                        <p> <strong>Customer Type : </strong>{{checkInInfo.CustType}}</p>
                        <p><strong>Latitude : </strong>  {{checkInInfo.CheckInLatitude}}</p>
                        <p><strong>Longitude : </strong>  {{checkInInfo.CheckInLatitude}}</p>
                        <p class="address-text">
                          <strong> Address :</strong>{{checkInInfo.CheckInAddress }}
                        </p>
                    </div>
                    <ion-label *ngIf="!checkInInfo.CustName"> last check in not found </ion-label>
              </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-row>
    <ion-col>
      <ion-button type="submit" expand="block" class="ion-btn-submit" [disabled]="checkInInfo.CheckOutlongitude>1"
        (click)="UpdateCheckOut()">Check-Out</ion-button>
    </ion-col>
  </ion-row>

</ion-content>