<ion-header>
  <ion-toolbar class="ion-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Visit List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  {{mydate2}}
  <ion-item>
    <ion-input [(ngModel)]="mydate2" readonly [liIonic4Datepicker]="datePickerObj"></ion-input>
</ion-item>
<!-- <ion-grid>
  <ion-row>
    <ion-col>
      <ion-input [(ngModel)]="mydate2" readonly [liIonic4Datepicker]="datePickerObj"></ion-input>
    </ion-col>
  </ion-row>
</ion-grid> -->

  <ion-col text-center size-md="4" size-lg="4" size-xs="4">
    <ion-list>
      <ion-item>
        <ion-label>Cutomer Type</ion-label>
        <ion-select [(ngModel)]="type" interface="popover" (ionChange)="SearchData($event)">
          <ion-select-option value="old">Old</ion-select-option>
          <ion-select-option value="new">New</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-col>

  <ion-col text-center size-md="4" size-lg="4" size-xs="4">
    <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="SearchData($event)" ></ion-searchbar>
  </ion-col>
  
  <div *ngIf="loading" text-center size-md="4" size-lg="4" size-xs="4">
      <ion-spinner name="bubbles"></ion-spinner> <small>loading...</small>
    </div>
    <div *ngIf="customerlist.length===0" text-center size-md="4" size-lg="4" size-xs="4">
        <small>data not found...</small>
      </div>
  <ion-virtual-scroll [items]="customerlist" approxItemHeight="320px">
    <ion-item *virtualItem="let data" [routerLink]="['/', 'visit-details',data.LocationCustId]">
      <ion-label text-wrap>
        <h3> {{ data.custName }}</h3>
        <p>{{ data.CustType }}</p>
        <p>{{ data.address }}</p>
      </ion-label>
    </ion-item>
  </ion-virtual-scroll>



</ion-content>