<ion-header style="background-color:var(--ion-com-primary-color);">
  <ion-toolbar class="ion-com-toolbar" style="padding-top: 16px">
    <ion-row style="font-size:12px !important;">
      <ion-col size="2">
        <ion-buttons>
          <ion-menu-button style="color: var(--ion-com-text-color); font-size: 30px;"></ion-menu-button>
        </ion-buttons>
      </ion-col>
      <ion-col size="8" style="padding-top: 4px">
        <img src="../assets/icon/tracker-logo.png" height="25" style="padding-left: 50px" />
      </ion-col>
      <ion-col size="2">
        <ion-buttons>
          <a (click)="authService.logout()">
            <ion-icon name="power" slot="end" style="color: var(--ion-com-text-color); font-size: 30px;"></ion-icon>
          </a>
        </ion-buttons>
      </ion-col>
      <ion-col size="2">

        <ion-fab-button color="light" size="small">
          <ion-label style="color: var(--ion-com-primary-color);">
            <strong>{{titleCaseWord(userinfo.given_name)}}</strong></ion-label>
        </ion-fab-button>
      </ion-col>
      <ion-col size="10" style="padding-top: 10px">
        <ion-row>
          <ion-col size="14" style="color: var(--ion-com-text-color);">
            <ion-label class="ion-text-uppercase"><small>{{userinfo.given_name}}</small></ion-label><br />
            <ion-label><small>{{userinfo.role}}</small></ion-label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-content">
  <ion-row style="padding-top:10px">
    <ion-col text-center align-self-center size-md="6" size-lg="6" size-xs="6">
      <ion-card [routerLink]="['/','attendance']" style="background-color: var(--ion-com-primary-color);">
        <div style="display: inline-block; text-align: center;" padding>
          <fa-icon icon="fingerprint" slot="end" size="2x"></fa-icon>
          <p style="color: var(--ion-com-text-color) !important">Attendance</p>
        </div>
      </ion-card>
    </ion-col>

    <ion-col text-center align-self-center size-md="6" size-lg="6" size-xs="6">
      <ion-card [routerLink]="['/','checkincheckout']" style="background-color: var(--ion-com-secondary-color);">
        <div style="display: inline-block; text-align: center;" padding>
          <fa-icon icon="map-marked-alt" slot="end" size="2x"></fa-icon>
          <p style="color: var(--ion-com-text-color) !important">Visit</p>
        </div>
      </ion-card>
    </ion-col>

    <ion-col text-center align-self-center size-md="6" size-lg="6" size-xs="6">
      <ion-card [routerLink]="['/','visit-list']" style="background-color:var(--ion-com-secondary-color);">
        <div style="display: inline-block; text-align: center;" padding>
          <fa-icon icon="route" slot="end" size="2x"></fa-icon>
          <p style="color: var(--ion-com-text-color) !important">Visit List</p>
        </div>
      </ion-card>
    </ion-col>

    <ion-col text-center align-self-center size-md="6" size-lg="6" size-xs="6">
      <ion-card [routerLink]="['/','backgps']" style="background-color:var(--ion-com-primary-color);">
        <div style="display: inline-block; text-align: center;" padding>
          <fa-icon icon="cogs" slot="end" size="2x"></fa-icon>
          <p style="color: var(--ion-com-text-color) !important">backgps</p>
        </div>
      </ion-card>
    </ion-col>

    <ion-col text-center align-self-center size-md="6" size-lg="6" size-xs="6">
      <ion-card [routerLink]="['/','tabsfuel']" style="background-color: var(--ion-com-primary-color);">
        <div style="display: inline-block; text-align: center;" padding>
          <fa-icon icon="gas-pump" slot="end" size="2x"></fa-icon>
          <p style="color: var(--ion-com-text-color) !important">Fuel</p>
        </div>
      </ion-card>
    </ion-col>

    <ion-col text-center align-self-center size-md="6" size-lg="6" size-xs="6">
      <ion-card [routerLink]="['/','visit-list-conveyance']" style="background-color: var(--ion-com-secondary-color);">
        <div style="display: inline-block; text-align: center;" padding>
          <fa-icon icon="money-check" slot="end" size="2x"></fa-icon>
          <p style="color: var(--ion-com-text-color) !important">Conveyance</p>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>